.app_cont{
  display:flex;
  flex-direction:column;
  height:400vh;
  width:208vh;
  background-color: #000000;
   /* border-color: aliceblue;
  border-style:solid; */
}
.names{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  display :flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center; 
  /* border-color: aliceblue;
  border-style:solid; */
  height:95vh;
  background-size: cover;
  background-image: url(./Assests/images/backgroundpic.png);

}
.flexcontainer {
   display: flex ;
   justify-content:space-between ;
   align-items: center;
   background-Color :#000000;
   height:8vh;
   /* border-color: aliceblue;
  border-style:solid; */
   
}

/* .writing{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  position:fixed;
  margin-top:0% ;
} */
.useraccount{
  display:flex;
  /* margin-top: 25px; */
  margin-right: 10px;
}
.home{
  display:flex;
  font-size: 6vh;
  justify-items: center;
  color:#8E8109;
  font-family: 'Irish-Grover';
  text-decoration:none;
  
}

.links{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;
  width:110vh; 
  height:68vh; 
  align-self: flex-end;
  /* border-color: green;
  border-style:solid; */
    
}
.links button{
  font-size: 35px;
  font-family:'Miltonian Tatoo';
  font-weight: bold;
  padding: 15px 30px;
  background-color: #8E8109; 
  border-radius:24%;
}

.writing{
  /* left: 500px;
  top: 100px; */
  font-family: 'Miltonian Tatoo';
  font-size:55px;
  /* margin-top:0% ; */
  
  /* align-content: center; */
  /* position:absolute; */
}
.acclog{
  
  align-items: center;
  font-size: 27px;
  margin-right: 40px;
  background-color:#8E8109;
  
}
.accsign{
  
  align-items: center;
  font-size: 27px; 
  margin-right: 40px;
  background-color:#8E8109;
}

.language{
  font-size: 25px;
  justify-content: center;
  margin-left: 10px;
  color:#8E8109;

}
.JobsSection{
  display:flex;
  flex-direction: column;
   height:80vh;
   /* border-color:#2ca507;
   border-style: solid;  */
}
.Fcont{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  height:70vh;
   /* border-color:#a50736;
   border-style: solid;  */
}
.Job_header{
  display:flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  color: white;
  /* height: 100px; */
  /* background-color: #8E8109; */
  padding-top: 40px;
}
.Freelancer_header{
  display:flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction:column;
  align-items:center;
  justify-content: flex-end;
  color: white;
  /* background-color: #61dafb; */
  /* height:200px; */
}

.JobsSectionimgs{
  display:flex;
  flex-direction:row;
  /* justify-content:space-between; */
  /*background-color: yellow;*/
  height:450px;
  padding-bottom: 10px;
  /* border-color:#a50736;
  border-style: solid;   */
  overflow-x: auto; /* Add horizontal scroll for overflowing content */    
}
.JobsSectionimgs::-webkit-scrollbar {
  display: none;
}
.FreelancersSection{
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* border-color:#a50736;
  border-style: solid;   */
  overflow-x: auto; /* Add horizontal scroll for overflowing content */ 
  /* background-color: #61dafb; */
  height:450px;
 }
 .FreelancersSection::-webkit-scrollbar {
  display: none;
}
 .freepic{
  height: 200px;
  padding-bottom: 50px;
  width:175px;
  /* padding-left: 65px;
  padding-right:45px; */
 }
.jobpic{
  height: 300px;
  width:250px;
  /* padding-top: 50px;
  padding-left: 25px;
  padding-right:25px; */
}
.jopdesccont{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  /* background-color: #61dafb; */
  padding-left: 25px;
  padding-right:50px; 

}

.nametag{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:22px;
  font-weight: bold;
  color: white;
}

.freenamestarandprofession{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  /* background-color: #61dafb; */
  padding-left: 45px;
  padding-right:100px; 
  height:350px;
  
}
.namestar{
  display:flex;
  width:120px;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:larger;
  align-items: center;
  color: white;
}
.freenametag{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:22px;
  font-weight:bold;
  color: white;
}
.JobsAndFreelancers{
 
  height:100vh;
  
}
.Testimonials_cont{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  height:50vh;
  /* width: 500px; */

}

.Testimonials_header{
  display:flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
  height: 80px; 
  color: white;
  /* background-color: #8E8109; */
}
.TestImgandParagraph{
  display:flex;
  flex-direction:row;
  /* border-color:#a50736;
   border-style: solid;  */
   overflow-x: scroll;
   
  
}
.TestImgandParagraph::-webkit-scrollbar {
  display: none;
}
.TestPic{
  height: 175px;
  width:  175px;
  padding-left: 30px; 
  
}
.eachtestimgparg{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 25px;
  
}
.testpar{
  display:flex;
  justify-content: center;
  text-indent:1em;
  /* border-color:#2ca507;
  border-style: solid; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-right: 10px;
  font-size: large;
  width: 350px;
  color: white;
}
.JandF{
  display:flex;
  flex-direction: column;
  /* border-color: blue;
  border-style: solid;  */
    /* justify-content: space-between; */
}
.howitworksCont{
  display:flex;
  flex-direction: column;
  /* border-color: blue;
  border-style: solid;  */
  height:60vh;
}
.howitworksCont_header{
  display:flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction:column;
  align-items: center;
  color: white;
  /* border-color: blue;
  border-style: solid;  */
  
}
.linkandinstrunction{
  display:flex;
  flex-direction:row;
  justify-content: center;

}
.howitworkslink{
  display:flex;
  flex-direction:column;
  padding-left: 50px;  
  justify-content: space-between;
  align-items: center;
    
}
.howitworkslink button{
  
  font-size: 20px;
  font-family:'Miltonian Tatoo';
  font-weight: bold;
  padding: 15px 30px;
  background-color: #8E8109; 
  border-radius:24%;
}

.instruction {
  display:flex;
  padding-top: 20px;
  flex-direction:column;
  justify-content: space-between;
  font-size: 25px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  /* border-color:green;
  border-style:solid; */
  margin-bottom:10px;

}

.footer_cont{
  display:flex;
  flex-direction:column;
   /* justify-content: space-between; */
  /* border-color:green; */
  /* border-style:solid; */
  height: 25vh;
}
.PlcandSocials{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  align-items: center;
}

.TefTefplc{
  width:220px;
  height: 170px;
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  border-color: white;
  background-color: white;
}

.TiktokButton {
  width:150px;
  height: 50px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#8E8109;
  border-color: white;
  background-color: white;
}
.FBButton {
  width:150px;
  height: 50px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#8E8109;
  border-color: white;
  background-color: white;
}
.TwitterButton {
  width:150px;
  height: 50px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#8E8109;
  border-color: white;
  background-color: white;
}
.callforaction {
  width:870px;
  height: 60px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: #8E8109;
  background-color: #8E8109;
  color:white;
  border-radius:24%;
}
.callforactioncont{
  display:flex;
  justify-content: center;
  
}

.logincont{
  color: white;
}
.acc{
  display:flex;
  flex-direction:column;
  align-items: center;
  height:100vh;
  

}
.signupcont{
  color: white;
}
.firstandlastname{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-color: blue;
  border-style:solid; */
  width: 350px;
}
 #firstname {
  width: 100px;
}
#lastname {
  width: 100px;
} 
.usernameandpassword{
  display:flex;  
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  height: 55px;
  /* border-color: blue;
  border-style:solid; */
  width: 350px;
}
.loggoogleandfacebookaccount{
  display:flex;
  flex-direction: column;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  justify-content: space-between;
  /* justify-content: space-between; */
  height: 75px;
  /* border-color: blue;
  border-style:solid; */
  width: 350px; 
  
}
.googleaccbutton{
  width:350px;
  height: 30px;
  background-color: #8E8109;
}
.facebookaccbutton{
  width:350px;
  height: 30px;
  background-color: #8E8109;

}
.agreement{
  display:flex;
  width:350px;
}
.post_job_title{
  display:flex;
  justify-content: center;
  font-size: 35px;
  /* color: #8E8109; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:aliceblue;
}
.lable{
  display:flex;
  justify-content: space-between;
  font-size: 25px;
  width:700px;
  color:aliceblue;
  padding-top: 15px;
  padding-bottom: 15px;
  /* border-color: #bc4408;
  border-style: solid; */
 
}

.dropdown{
  border-color: #bc4408;
}
.PostaJob_form_button{
  display:flex;
  flex-direction:row ;
  justify-content: center;  
  padding-left: 175px;
  padding-right: 185px; 
  padding-top: 25px;
}
.post_div{
  display:flex;
  flex-direction:column ;
  height: 90vh;
  padding-top: 25px;
}
.dropdown{

  /* margin-left: 85px; */
  width:250px;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 85px;
  padding-left: 35px;
  padding-bottom: 15px;
  
}
.postinbutton{
  background-color:#8E8109;
  width:150px;
  height: 50px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;  
  background-color:#8E8109;
 

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
